.dashboard-html {
    background-color:white;
}

.dashboard-layout {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex; 
    flex-direction: row;

    justify-content: space-between;

    text-align: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid lightgray;

}

.dashboard-logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.dashboard-logout-button:hover {
    background-color: lightgray;
}


/* DAHSBOARD SECOND SECTION (TOKEN CARDS) */

.dashboard-portfolio-card-section {
    display: flex;
    flex-direction: row;
    padding: 30px;

    gap: 10px;
}

.dashboard-portfolio-card {
    display: flex;
    flex-direction: column;

    width: 25%;
    border-radius: 10px;

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

    border: 1.2px solid lightgray;

    padding: 15px;

    font-family: "Roboto", sans-serif;


    justify-content: center;
    gap: 10px;
}

.dashboard-portfolio-card-header {
    font-weight: bold;
}

.dashboard-portfolio-card-header-wallet-balance {
    font-weight: bold;
    font-size: 38px;
}

/* Transaction Graph and History */

.dashboard-transaction-graph-section {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 10px;
}

.dashboard-graph-section {
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    border: 1.2px solid lightgray;
}

.dashboard-graph-section svg {
    width: 100%;
    height: 100%;
}

.dashboard-transactions-section {
    width: 30%;
    border-radius: 10px;
    border: 1.2px solid lightgray;
}

.graph-range-buttons {
  display: flex;
}

.range-btn {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 12px;
}

.range-btn.active {
  background: black;
  color: white;
  border-color: black;
}

.graph-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 10px;

    font-family: "Poppins", sans-serif;
}