/* html {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; /* prevents content from touching edges on small screens */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    color: indianred;
}

header button {
    background-color:IndianRed;
    color: white;
    width: 320px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 17px;
}

/* Welcome Section*/
.welcome-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.welcome-section-text {
    display: flex;
    flex-direction: column;
    width: 40%;

    justify-content: center;
    text-align: center;

    padding: 20px;

    gap: 30px;
}

.welcome-section-text-header {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
}

/* Welcome Button Section */

.welcome-section-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: sans-serif;

    justify-content:center;
    align-items:center;

}

.welcome-section-signup-button {
    background-color:IndianRed;
    color: white;
    width: 320px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 17px;

    align-content:center;
    text-decoration:none;
}

.welcome-section-login-button {
    background-color:white;
    color: IndianRed;
    width: 320px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 17px;

    align-content:center;
    text-decoration:none;
}

/* Crypto Prices Banner*/

.token_prices-banner {
    display: flex;
    flex-direction: row;

    gap: 10px;

    background-color: #F2F0EF;

    padding: 10px;

    align-items: center;
    justify-content: center;
}

.token-price-banner-card {
    display:flex;
    flex-direction: row;

    gap: 10px;

    background-color:white;

    border: 1px solid lightgrey;
    border-radius: 10px;

    padding: 10px;

    font-family: sans-serif;
}

.token-price-banner-card-text {
    display: flex;
    flex-direction: column;

    justify-content:center;

}

/* Information Section 1 */

.information-section-1 {
    display:flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;
    

    font-family: sans-serif;
}

.information-section-1-text {
    display: flex;
    flex-direction: column;

    width: 35%;

    gap: 25px;
}

.information-section-1-header {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight:bolder;
    color: IndianRed;
}