<!DOCTYPE html>
<html lang="en" class="dashboard-html">
<head>
    <meta charset="UTF-8">
    <title>PocketChain - Dashboard</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/dashboard.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="dashboard-layout">

       <div class="dashboard-header">
        <h1>PocketChain</h1>

        <a href="{% url 'logout' %}" class="dashboard-logout-button">Logout</a>

       </div>

       <div class="dashboard-portfolio-card-section">

        <div class="dashboard-portfolio-card">
            <span class="dashboard-portfolio-card-header">Portfolio Balance</span>
            <span class="dashboard-portfolio-card-header-wallet-balance">$43,000.00</span>
            <span>+20% month over month</span>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 2</h2>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 3</h2>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 4</h2>
        </div>
       </div>

       <div class="dashboard-transaction-graph-section">

        <div class="dashboard-graph-section">

            <div class="graph-header">
                <span>Sample Title</span>

                <div class="graph-range-buttons">
                    <button class="range-btn">1D</button>
                    <button class="range-btn">7D</button>
                    <button class="range-btn active">1M</button>
                    <button class="range-btn">3M</button>
                </div>
            </div>

            

            <svg id="transactionGraph"></svg>
        </div>

        <div class="dashboard-transactions-section">
            <p>Transaction History</p>
        </div>
       </div>

        

    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module">
    import { renderPortfolioChart } from "/static/js/portfolio.js";

    document.addEventListener("DOMContentLoaded", () => {
        renderPortfolioChart("#transactionGraph");
    });
    </script>
        
</body>
</html>
