<!DOCTYPE html>
<html lang="en" class="dashboard-html">
<head>
    <meta charset="UTF-8">
    <title>PocketChain - Dashboard</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/dashboard.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="dashboard-layout">

       <div class="dashboard-header">
        <h1>PocketChain</h1>

        <a href="{% url 'logout' %}" class="dashboard-logout-button">Logout</a>

       </div>

       <div class="dashboard-portfolio-card-section">

        <div class="dashboard-portfolio-card">
            <span class="dashboard-portfolio-card-header">Portfolio Balance</span>
            <span class="dashboard-portfolio-card-header-wallet-balance">$43,000.00</span>
            <span>+20% month over month</span>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 2</h2>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 3</h2>
        </div>

        <div class="dashboard-portfolio-card">
            <h2>Card 4</h2>
        </div>
       </div>

       <div class="dashboard-transaction-graph-section">

        <div class="dashboard-graph-section">

            <div class="graph-header">
                <span>Sample Title</span>

                <div class="graph-controls">
                    <select id="rangeSelect" class="graph-dropdown">
                        <option value="1D">1 Day</option>
                        <option value="7D">7 Days</option>
                        <option value="1M" selected>1 Month</option>
                        <option value="3M">3 Months</option>
                    </select>
                </div>
            </div>

            <svg id="transactionGraph"></svg>
        </div>

        <div class="dashboard-transactions-section">
            <p>Transaction History</p>

            <div class="transaction-history-card">
                <img src="/static/images/plus.png" alt="Plus sign png" class="transaction-plus-img">
                
                <div class="transaction-text-section">

                    <div class="transaction-text-section-header">
                        <span>Market Sell</span>
                        <span>+$3.05</span>
                    </div>

                    <div class="transaction-text-section-subheader">
                        <span>Feb 9, 2026</span>
                        <span>ETH at $2,145.00</span>
                    </div>

                </div>
            </div>

            <div class="transaction-history-card">
                <img src="/static/images/minus.png" alt="Minus sign png" class="transaction-plus-img">
                
                <div class="transaction-text-section">

                    <div class="transaction-text-section-header">
                        <span>Market Buy</span>
                        <span>-$102.05</span>
                    </div>

                    <div class="transaction-text-section-subheader">
                        <span>Feb 9, 2026</span>
                        <span>BTC at $32.00</span>
                    </div>

                </div>
            </div>

            
        </div>
       </div>

        

    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module">
    import { renderPortfolioChart } from "/static/js/portfolio.js";

    document.addEventListener("DOMContentLoaded", () => {
        renderPortfolioChart("#transactionGraph");
    });
    </script>
        
</body>
</html>
