<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PocketChain - Homepage</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
        src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
        type="module"
        ></script>

</head>
<body>
    <header>
        <h1>PocketChain</h1>
        <a><button>Get Started</button></a>
    </header>

    <main>

        <div class="welcome-section">
            <div>
                <dotlottie-wc
                    src="https://lottie.host/2e86fc77-a608-4a2f-b547-d725a19d24e4/YPwxdbZLGU.lottie"
                    style="width: 400px;height: 400px"
                    autoplay
                    loop
                    ></dotlottie-wc>
            </div>

            <div class="welcome-section-text">
                <span class="welcome-section-text-header">The free, easy, and effective way to learn about DeFi!</span>

                <div class="welcome-section-buttons">
                    <a href="" class="welcome-section-signup-button">GET STARTED</a>
                    <a href="" class="welcome-section-login-button">I ALREADY HAVE AN ACCOUNT</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
