<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PocketChain - Homepage</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script
        src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
        type="module"
        ></script>

</head>
<body>
    <header>
        <h1>PocketChain</h1>
        <a><button>Get Started</button></a>
    </header>

    <main>

        <div class="welcome-section">
            <div>
                <dotlottie-wc
                    src="https://lottie.host/2e86fc77-a608-4a2f-b547-d725a19d24e4/YPwxdbZLGU.lottie"
                    style="width: 400px;height: 400px"
                    autoplay
                    loop
                    ></dotlottie-wc>
            </div>

            <div class="welcome-section-text">
                <span class="welcome-section-text-header">The free, easy, and effective way to learn about DeFi!</span>

                <div class="welcome-section-buttons">
                    <a href="login/" class="welcome-section-signup-button">GET STARTED</a>
                    <a href="login/" class="welcome-section-login-button">I ALREADY HAVE AN ACCOUNT</a>
                </div>
            </div>
        </div>

        <!-- TOKEN PRICE BANNER -->
        <div class="token_prices-banner">

            <!-- BTC TOKEN PRICE CARD -->
            <div class="token-price-banner-card">
                <p>Image here</p>
                    <div class="token-price-banner-card-text">
                        <span>BTC</span>
                        <span>${{ token_prices.BTC|floatformat:2 }}</span>
                    </div>
            </div>

            <!-- ETH TOKEN PRICE CARD -->
            <div class="token-price-banner-card">
                <p>Image here</p>
                    <div class="token-price-banner-card-text">
                        <span>ETH</span>
                        <span>${{ token_prices.ETH|floatformat:2 }}</span>
                    </div>
            </div>

            <!-- LINK TOKEN PRICE CARD -->
            <div class="token-price-banner-card">
                <p>Image here</p>
                    <div class="token-price-banner-card-text">
                        <span>LINK</span>
                        <span>${{ token_prices.LINK|floatformat:2 }}</span>
                    </div>
            </div>

            <!-- DOT TOKEN PRICE CARD -->
            <div class="token-price-banner-card">
                <p>Image here</p>
                    <div class="token-price-banner-card-text">
                        <span>DOT</span>
                        <span>${{ token_prices.DOT|floatformat:2 }}</span>
                    </div>
            </div>
        </div>

        <div class="information-section-1">

            <div class="information-section-1-text">
                <span class="information-section-1-header">real-time insights</span>
                <span>Stay ahead with live analytics that update the moment the market moves. Whether you're tracking performance, monitoring trends, or making informed decisions, our system transforms raw data into actionable intelligence — instantly and reliably.</span>
            </div>

            <div>
                <dotlottie-wc
                    src="https://lottie.host/a4340331-15f1-48c3-95b3-a4536512e3cd/gr2FJhBWgT.lottie"
                    style="width: 400px;height: 400px"
                    autoplay
                    loop
                    ></dotlottie-wc>
            </div>

        </div>

        <div class="information-section-1">

            <div>
                <dotlottie-wc
                    src="https://lottie.host/9846a0db-2fa5-4038-a66e-1f9d0c794cbd/tMp5stsR7x.lottie"
                    style="width: 400px;height: 400px"
                    autoplay
                    loop
                    ></dotlottie-wc>
            </div>

            <div class="information-section-1-text">
                <span class="information-section-1-header">learn the basics</span>
                <span>Whether you're completely new to digital assets or just looking to sharpen your understanding, our platform makes crypto simple, approachable, and engaging. We break down complex concepts into clear, digestible lessons that help you build real confidence without the overwhelm.</span>
            </div>

        </div>
    </main>
</body>
</html>
